<header id="menu-outer">
  <nav id="menu-inner">
    <a href="/">
      <i class="iconfont logo">&#xe600;</i>
      Z-INDEX
    </a>
    <% Object.keys(theme.menu).forEach(function(key) { %>
      <a href="<%=theme.menu[key]%>"><%=key%></a>
    <% }); %>
  </nav>
</header>