<div class="loading">
    <div class="content">
        <div class="shape-contain">
            <div class="shape"></div>
        </div>
        <div class="shape-contain">
            <div class="shape"></div>
        </div>
        <div class="shape-contain">
            <div class="shape"></div>
        </div>
        <div class="shape-contain">
            <div class="shape"></div>
        </div>
        <div class="shape-contain">
            <div class="shape"></div>
        </div>
        <div class="shape-contain">
            <div class="shape"></div>
        </div>
        <div class="shape-contain">
            <div class="shape"></div>
        </div>
        <div class="shape-contain">
            <div class="shape"></div>
        </div>
        <div class="shape-contain">
            <div class="shape"></div>
        </div>
        <div class="shape-contain">
            <div class="shape"></div>
        </div>
        <div class="shape-contain">
            <div class="shape"></div>
        </div>
        <div class="shape-contain">
            <div class="shape"></div>
        </div>
        <div class="shape-contain">
            <div class="shape"></div>
        </div>
        <div class="shape-contain">
            <div class="shape"></div>
        </div>
        <div class="shape-contain">
            <div class="shape"></div>
        </div>
        <div class="shape-contain">
            <div class="shape"></div>
        </div>
        <div class="shape-contain">
            <div class="shape"></div>
        </div>
        <div class="shape-contain">
            <div class="shape"></div>
        </div>
        <div class="shape-contain">
            <div class="shape"></div>
        </div>
        <div class="shape-contain">
            <div class="shape"></div>
        </div>
        <div class="shape-contain">
            <div class="shape"></div>
        </div>
        <div class="shape-contain">
            <div class="shape"></div>
        </div>
        <div class="shape-contain">
            <div class="shape"></div>
        </div>
        <div class="shape-contain">
            <div class="shape"></div>
        </div>
        <div class="shape-contain">
            <div class="shape"></div>
        </div>
        <div class="shape-contain">
            <div class="shape"></div>
        </div>
        <div class="shape-contain">
            <div class="shape"></div>
        </div>
        <div class="shape-contain">
            <div class="shape"></div>
        </div>
        <div class="shape-contain">
            <div class="shape"></div>
        </div>
        <div class="shape-contain">
            <div class="shape"></div>
        </div>
        <h1>
            <span>z-index</span>
            <span>is</span>
            <span>comming</span>
            <span>.</span>
            <span>.</span>
        </h1>

    </div>
</div>